* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: bord;
    color: white;
}

body {
    background-color: #0f0f0f;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    margin-top: 50px;
}

::-webkit-scrollbar{
    padding: 7px;
}

::-webkit-scrollbar-thumb{
    background: rgb(192, 187, 187);
    border-radius: 20px;
}


.ts {
    width: 100%;
    padding-bottom: 56.25%; /* النسبة المئوية تعادل ارتفاع العرض 16:9 */
    position: relative;    
}

.ts iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    

}

.v {
    width: 100%;
    height: auto;
    margin: 30px;
    margin-top: 20px;
    max-width: 1237px;
}

.video-list-only{
    border-top: 1px solid rgb(82, 80, 80);
    margin: 20px 0 0 20px;
    padding-top: 5px;
}

.a {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    
}

.a img {
    width: 200px;
    height: 100%;
    border-radius: 8px;
    margin-bottom: 5px;
}

.unwan {
    width: 100%;
    margin-top: 10px;
    text-align: right;
    min-width: 200px;
    direction: rtl;
}

.check-icon {
    width: 15px;
    height: 15px;
    fill: rgba(255, 255, 255, 0.548);
    margin-top: 10px;
    margin-left: 5px;
}


.title{
    margin-left: 3px;
}

.ti {
    display: flex;
    justify-content: right;
    flex-direction: row-reverse;
}


.logo-text {
    display: flex;
    justify-content: right;
    margin-top: 9px;
}

.gg {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.logo-text img {
    border-radius: 100%;
    width: 70px;
}

.logo-text p {
    margin-top: 9px;
    margin-right: 8px;
    font-size: 17px;
    font-weight: 100;
    color: rgba(254, 255, 255, 0.808);
}

.share {
    background-color: #333333da;
    width: 85px;
    margin-top: 19px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 100;
    cursor: pointer;
    
}

.vd {
    font-size: 20px;
    font-weight: bold;
}

@media (max-width:991px){

    body {
        display: block;
        margin-top: 0;
    }
    .v {
        margin: 25px;
        margin-top: 20px ;
    }
    .video-list-only{
        border-top: 1px solid rgb(82, 80, 80);
        margin: 20px 20px 0 20px;
        padding-top: 5px;
    }

    .v {
        margin: 0;
        margin-top: 0;
    }
    
}
